# Ignore Jupyter local auto-saves
.ipynb_checkpoints/

# Ignore Python runtime caches
__pycache__/
*.pyc

# Ignore raw data folders everywhere
oct_data/
*oct_data*
*.zip
*.tar.gz

# Ignore local system files
.DS_Store

# Ignore heavy model weight checkpoints (Do not push weights to standard GitHub!)
*.pth
results/*.pth
notebooks/results/*.pth
